* {
    margin: 0;
    padding: 0;
    font-family: "Wix Madefor Text", serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
}

*::selection {
    background-color: #dba548;
    color: black;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: #000000;
}

body::-webkit-scrollbar-thumb {
    background-color: #292929;
    border-radius: 20px;
}

noscript {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-size: large;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #000000e4;
    color: white;
}

header span {
    font-size: medium;
    letter-spacing: 0.5px;
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a {
    font-family: "Manrope", serif;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5ms;
    color: white;
}

.list {
    display: flex;
    flex-direction: row;
}

.list>p {
    font-size: small;
    padding-left: 15px;
    padding-right: 15px;
}

.list a:active {
    transition: all 0.5ms;
    color: #c4c4c4;
}

@media(hover: hover) and (pointer: fine) {
    .list a:hover {
        transition: all 0.5ms;
        color: #c4c4c4;
    }
}

/* content */
.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.frame>p {
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
}

.frame span {
    font-family: "Pixelify Sans", serif;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

/* media */
@media (max-width: 480px) {
    /* Стили для маленьких экранов */
}

@media (min-width: 481px) and (max-width: 768px) {
    /* Стили для планшетов в портретной ориентации */
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Стили для планшетов в ландшафтной ориентации */
}

@media (min-width: 1025px) and (max-width: 1280px) {
    /* Стили для небольших ноутбуков */
}

@media (min-width: 1281px) {
    /* Стили для больших экранов */
}